@import "tailwindcss";

@theme {
    --color-back: #616060;
    --color-main-50: #f2f7fd;
    --color-main-100: #e5eef9;
    --color-main-200: #c4dbf3;
    --color-main-300: #91bde8;
    --color-main-400: #569bda;
    --color-main-500: #307ec7;
    --color-main-600: #2063a9;
    --color-main-700: #1b4f89;
    --color-main-800: #1a4472;
    --color-main-900: #1b3a5f;
    --color-main-950: #0e1d31;
    --color-pc: #abbde5;
    --color-ir: #97fcff;
    --color-ma: #c2ff97;
    --color-acc: #97ffc8;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .controlBtn {
    display: flex;
    color: var(--color-main-400);
    border-radius: calc(infinity * 1px);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
}

@layer toggle {
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-main-400);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-main-400);
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}
}
